{% extends "study/base.html" %}
{% load socialaccount %}

{% block description %}add study session{% endblock %}
{% block title %}Add Study Session{% endblock %}
{% block courses-link-style %}fw-bold{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<br>

<h1><center>Add Study Session</center></h1>

<div class="container h-100">
  <form class="form-example" action="{% url 'study:uploadSession' %}" method="post">
    {% csrf_token %}

    <div class="row justify-content-center">
      <fieldset>

        {% if error_message %}<center><p style="color:red"><strong>One or more of the fields are empty.</strong></p></center>{% endif %}

        Date:
        <div class="form-floating mb-3">
          <input class="form-control" type="text" placeholder="Default Input" name="date" id="date" value="{{ date }}">
          <label style="color:gray;" for="date"><i>Date...</i></label>
        </div>

        Location:
        <div class="form-floating mb-3">
          <input class="form-control" type="text" placeholder="Default Input" name="location" id="location" value="{{ location }}">
          <label style="color:gray;"for="location"><i>Location...</i></label>
          <a class="btn btn-success" style="position:absolute; margin-right:2px; top:15%; right:0;" href="https://www.library.virginia.edu/services/reserve-rooms/" role="button" >UVA Library</a>
        </div>

        Course: <!-- try a radio choice? -->
        <div class="form-floating mb-3">
          <!-- <input class="form-control" type="radio" placeholder="Default Input" name="courseSession" id="courseSession" value="{{ courseSession }}"> -->
          <!-- <label style="color:gray;"for="subject"><i>Course...</i></label> -->

          <form method="GET" id="searchform" style="align-self:center">
            {% csrf_token %}
            <div style="display: inline-block;">
              <h4 style="display:inline-block">Filter By:</h4>
              <input class="searchfield" id="searchbox" name="q" type="text" value="{{ request.GET.q }}" placeholder="Subject..."/>
              <input class="searchfield" id="searchbox" name="q1" type="text" value="{{ request.GET.q1 }}" placeholder="Number..."/>
              <input class="searchfield" id="searchbox" name="q2" type="text" value="{{ request.GET.q2 }}" placeholder="Name..."/>
              <input type="submit" value="Enter">
            </div>
          </form>

          <div class="container h-100" style="top:50%; bottom:50%; width:100%;">
            {% for course in object_list %}
              <form class="row" method="POST" action="{% url 'study:upload' %}">
                {% csrf_token %}
                <input type="hidden" name="subject" value="{{ course.subject }}">
                <input type="hidden" name="number" value="{{ course.number }}">
                <button type="submit" class="btn btn-outline-secondary" >{{ course.subject }} {{ course.number}}-{{course.name}} </button>
                <br><br><br>
              </form>
            {% endfor %}
          </div>

        </div>
        
   <!-- {% for course in courses_list %}
            <input type="radio" name="course" id="course{{ forloop.counter }}" value="{{ course.id }}">
            <label for="course{{ forloop.counter }}">{{ course.subject }} {{ course.number}}-{{course.name}}</label><br>
        {% endfor %}

      </fieldset>
      <button type="submit" class="btn btn-primary btn-block">Upload</button>
      <input style="background-color: #f64c72; color:white;" type="submit" value="Submit"> -->
    </div>
  </form>
</div>
{% else %}
<a href="{% provider_login_url 'google' %}">Login With Google</a>
{% endif %}
{% endblock %}
