{% extends "study/base.html" %}
{% load socialaccount %}

{% block description %}sessions{% endblock %}
{% block title %}My Sessions{% endblock %}
{% block courses-link-style %}fw-bold{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<br>
<h1><center>Upcoming Study Sessions</center></h1>

<div>
    <a class="btn btn-success" style="position:absolute; margin-right:2px; top:15%; right:0;" href="{% url 'study:courses' %}" role="button" >Back to My Courses</a>
  
  
</div>
<br><br>

<div class="container h-100" style="top:50%; bottom:50%; width:100%;">
    <div class="row">
      {% if session_list %}
      {% for session in session_list %}
      <button type="button" class="btn btn-outline-secondary" > <b>Date:</b> {{ session.date }} <br>  <b>Location:</b> {{ session.location }} </button>
      <br><br><br>
      {% endfor %}
      {% else %}
      <p class="text-center">There are no upcoming study sessions at this time for the requested course.</p>
      {% endif %}
  
    </div>
</div>
  
  {% else %}
  <a href="{% provider_login_url 'google' %}">Login With Google</a>
  {% endif %}
  {% endblock %}