{% extends "study/base.html" %}
{% load socialaccount %}

{% block description %}add course{% endblock %}
{% block title %}Add Course{% endblock %}
{% block courses-link-style %}fw-bold{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<form method="GET" action="{% url 'study:search_results' %}" id="searchform">
  <input class="searchfield" id="searchbox" name="q" type="text" value="{{ request.GET.q }}" placeholder="Search..."/>
  <input type="submit" value="Submit">
</form>

<!--
<br>

<h1><center>Course Upload</center></h1>

<div class="container h-100">
  <form class="form-example" action="{% url 'study:upload' %}" method="post">
    {% csrf_token %}

    <div class="row justify-content-center">
      <fieldset>

        {% if error_message %}<center><p style="color:red"><strong>{{ error_message }}</strong></p></center>{% endif %}

        Subject:
        <div class="form-floating mb-3">
          <input class="form-control" type="text" placeholder="Default Input" name="subject" id="subject" value="{{ subject }}">
          <label style="color:gray;" for="subject"><i>Subject...</i></label>
        </div>

        Course Number:
        <div class="form-floating mb-3">
          <input class="form-control" type="text" placeholder="Default Input" name="course_number" id="course_number" value="{{ course_number }}">
          <label style="color:gray;"for="course_number"><i>Course Number...</i></label>
        </div>

        Course Name:
        <div class="form-floating mb-3">
          <input class="form-control" type="text" placeholder="Default Input" name="course_name" id="course_name" value="{{ course_name }}">
          <label style="color:gray;"for="course_name"><i>Course Name...</i></label>
        </div>

        Section:
        <div class="form-floating mb-3">
          <input class="form-control" type="text" placeholder="Default Input" name="course_section" id="course_section" value="{{ course_section }}">
          <label style="color:gray;"for="course_section"><i>Section...</i></label>
        </div>

      </fieldset>
      <button type="submit" class="btn btn-primary btn-block">Upload</button>
    -->
      <!-- <input style="background-color: #f64c72; color:white;" type="submit" value="Submit"> -->
      <!--
    </div>
  </form>
</div>
-->

{% else %}
<a href="{% provider_login_url 'google' %}">Login With Google</a>
{% endif %}
{% endblock %}
