{% extends "study/base.html" %}
{% load socialaccount %}

{% block description %}add course{% endblock %}
{% block title %}Add Course{% endblock %}
{% block courses-link-style %}fw-bold{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<br>

<h1><center>Add Course</center></h1>

<form method="GET" action="" id="searchform">
  {% csrf_token %}
  <div style="display: inline-block;">
    <h4 style="display:inline-block">Filter Classes:</h4>
    <input class="searchfield" id="searchbox" name="q" type="text" value="{{ request.GET.q }}" placeholder="Subject..."/>
    <input class="searchfield" id="searchbox" name="q1" type="text" value="{{ request.GET.q1 }}" placeholder="Number..."/>
    <input class="searchfield" id="searchbox" name="q2" type="text" value="{{ request.GET.q2 }}" placeholder="Name..."/>
    <input type="submit" value="Enter">
  </div>
</form>

<div class="container h-100" style="top:50%; bottom:50%; width:100%;">
  <div class="row">
    {% for course in object_list %}
        <button type="button" class="btn btn-outline-secondary" >{{ course.subject }} {{ course.number}}-{{course.name}} </button>
        <br><br><br>
    {% endfor %}

  </div>
</div>

<div class="container h-100">
  <form class="form-example" action="{% url 'study:upload' %}" method="post">
    {% csrf_token %}

    <div class="row justify-content-center">
      <fieldset>

        {% if error_message %}<center><p style="color:red"><strong>{{ error_message }}</strong></p></center>{% endif %}

        Subject:
        <div class="form-floating mb-3">
          <input class="form-control" type="text" placeholder="Default Input" name="subject" id="subject" value="{{ subject }}">
          <label style="color:gray;" for="subject"><i>Subject...</i></label>
        </div>

        Course Number:
        <div class="form-floating mb-3">
          <input class="form-control" type="text" placeholder="Default Input" name="course_number" id="course_number" value="{{ course_number }}">
          <label style="color:gray;"for="course_number"><i>Course Number...</i></label>
        </div>

        Course Name:
        <div class="form-floating mb-3">
          <input class="form-control" type="text" placeholder="Default Input" name="course_name" id="course_name" value="{{ course_name }}">
          <label style="color:gray;"for="course_name"><i>Course Name...</i></label>
        </div>

        Section:
        <div class="form-floating mb-3">
          <input class="form-control" type="text" placeholder="Default Input" name="course_section" id="course_section" value="{{ course_section }}">
          <label style="color:gray;"for="course_section"><i>Section...</i></label>
        </div>

      </fieldset>
      <button type="submit" class="btn btn-primary btn-block">Search</button>
  
      <!-- <input style="background-color: #f64c72; color:white;" type="submit" value="Submit"> -->
      
    </div>
  </form>
</div>

{% else %}
<a href="{% provider_login_url 'google' %}">Login With Google</a>
{% endif %}
{% endblock %}
