{% load socialaccount %}
<html>
    <body>
        <!-- <h1>Study Buddy Finder </h1>

        {% if user.is_authenticated %}
        <p>Welcome, You are logged in as {{ user.username }}</p>
        {% else %}
            <a href="{% provider_login_url 'google' %}">Login With Google</a>
        {% endif %} -->

        <header class="container-fluid ps-4">
            <nav class="navbar navbar-expand navbar-light">
              <!-- <a class="navbar-brand fw-bold fs-1 text-white" href="./rides.html">Ride-A-Long<sub class="orange">@UVA</sub></a> -->
              <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item me-2">
                  <div class="dropdown nav-link fs-1">
                    <!-- <a class="nav-link fs-2" href="#" role="button" id="notificationsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa-solid fa-car"></i>
                      <span class="notification badge rounded-pill bg-danger">
                          1
                          <span class="visually-hidden">unread notifications</span>
                      </span>
                    </a> -->
                    <!-- <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notificationsDropdown">
                      <li><a class="dropdown-item" href="#">Someone requested to join your ride!</a></li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item">
                  <div class="dropdown nav-link fs-1">
                    <a class="nav-link" href="#" role="button" id="accountDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa-solid fa-user"></i>
                    </a> -->
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountDropdown">
                      <li><a class="dropdown-item">Profile</a></li>
                      <li><a class="dropdown-item">My Classes</a></li>
                      <li><a class="dropdown-item">My Study Sessions</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </nav>
          </header>

    </body>
</html>

